exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.off", "pdf")
importFrom("stats", "qf", "qt")
importFrom("utils", "write.csv")
importFrom("gridExtra","tableGrob","grid.arrange")
importFrom("grid","textGrob","grid.text","gpar")
importFrom("lattice","densityplot")
importFrom("rlist","list.append")
importFrom("qpdf","pdf_combine")
